@model ShopMvc.Models.EditClientModel
@{
    ViewBag.Title = "Изменение данных";
}



@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary()
    
     @ViewBag.RegisterSucess

    
    
    <fieldset>
        <legend>Registration Form</legend>
        <ol>
            
            <li>
                @Html.LabelFor(m => m.FirstName)
                @Html.TextBoxFor(m => m.FirstName)
            </li>
                <li>
                @Html.LabelFor(m => m.LastName)
                @Html.TextBoxFor(m => m.LastName)
                        </li> 
            <li>
                @Html.LabelFor(m => m.MiddleName)
                @Html.TextBoxFor(m => m.MiddleName)
            </li>
                    
            <li>
                @Html.LabelFor(m => m.Adress)
                @Html.TextBoxFor(m => m.Adress)
            </li>
             <li>
                @Html.LabelFor(m => m.BirthDay)
                @Html.TextBoxFor(m => m.BirthDay, new{@placeholder="dd/mm/yyyy"})
            </li>
        </ol>
        <input type="submit" value="Сохранить" />
    </fieldset>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}